---
// Component Imports
import MainLayout from '../layouts/MainLayout.astro';
import "../styles/styles.css";
---
<MainLayout title="selected">
    <h1>Selected Cards</h1>
    <div class="card-gallery" id="selected-card-gallery">
      <!-- Selected cards will be displayed here -->
    </div>
    <script src="/js/selected-cards.js"></script>
</MainLayout>
